[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.5"
django-mptt = "*"
django-rest-swagger = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
drf-yasg = "*"
django-uuslug = "*"
celery = "*"
pillow = "*"
django-filter = "*"
uuid = "*"

[requires]
python_version = "3.8"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-drf = "*"
pytest-cov = "*"
factory-boy = "*"
